
defaults:
  - experiment: basic
  - trainer: AugLag
  - trainer/mace
  - structure: silica
  - data: SiO2
  - wandb: disabled
  - _self_

#minimiser: ${trainer.mace}  # Path to separate AugLag hyperparameter file
accelerator: 'cpu'  # Use 'gpu' if you have a GPU available
hydra:
  run:
    dir:  ${oc.env:OUTPUT_DIR,outputs/${experiment.name}/${now:%Y-%m-%d}/${now:%H-%M-%S}/${wandb.run_name}}
 #outputs/${experiment.name}/${now:%Y-%m-%d}/${now:%H-%M-%S}/${wandb.run_name}

output:
  write_trajectory: true
  trajectory_path: ${oc.env:OUTPUT_DIR,outputs/${experiment.name}/${now:%Y-%m-%d}/${now:%H-%M-%S}/trajectory}
  save_plots: true
  plots_dir: ${oc.env:OUTPUT_DIR,outputs/${experiment.name}/${now:%Y-%m-%d}/${now:%H-%M-%S}/plots}

max_steps: 2000
optimize_cell: false
lr: 1e-4
tol: 1e-6
